.preloading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 9999999;
    box-shadow: 0px 0px 25px silver inset;
    font-family: Trebuchet MS;
}

.preloading .progress {
    background: transparent url(../img/logo.png) 0 0 no-repeat;
    width: 700px;
    height: 320px;
    padding: 30px;
    padding-left: 350px;
    margin: 0 auto;
    margin-top: 100px;
}

.preloading h1 {
    font-weight: normal;
    font-size: 35px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e1dedc;
    margin-top: 0;
    padding-top: 0;
}
.preloading h1 span { color: #29a30d; }

.preloading h2 {
    font-size: 16px;
    font-weight: normal;
    color: gray;
    padding-left: 20px;
    text-align: right;
    padding-top: 0px; margin-top: 0;
}

.preloading .about {
    list-style-type: square;
    line-height: 17px;
    font-family: Tahoma;
    padding: 0;
    margin: 0;
    margin-left: 25px;
}

.preloading .version {
    float: right;
    width: 160px;
    padding: 10px 15px;
    background: #f2f2f2;
    margin-top: 20px;
    box-shadow: 0 0 4px silver;
    border: 2px solid white;
    text-align: right;
    font-family: Tahoma;
}

.preloading .status {
    margin-top: 15px;
    padding-top: 10px;
    border-top:  1px solid #e1dedc;
    padding-left: 22px;
    color: #403d40;
    background: url(../img/loading.png) 0 100% no-repeat;
}