[submodule "documentation"]
	path = documentation
	url = git://github.com/dim-s/regenix-documentation.git
[submodule "framework/vendor/Imagine"]
	path = framework/vendor/Imagine
	url = git://github.com/avalanche123/Imagine.git
[submodule "framework/vendor/kcaptcha"]
	path = framework/vendor/kcaptcha
	url = git://github.com/dim-s/kcaptcha.git
