{extends 'system/base'}
{set title: 'Application exception'}

{if REGENIX_IS_DEV}
<div class="error">
    <h1>{ $title }</h1>
    <p id="detail">
        { $desc | raw }
    </p>
    {if $file}
        <h2>In `/{$file}` at line <b>{$stack[line]}</b>.</h2>
    {/if}
    {if $source}
    <div id="source-code">
        {foreach $source as $i => $line}
            <pre class="{{$i == $stack[line] ? 'error':''}}"><span class="line">{{$i}}</span><span class="code">{{$line}}</span></pre>
        {/foreach}
    </div>
    {/if}
</div>
    {if $controller && !($controller instanceof regenix\mvc\controllers\EmptyController)}
        <b class="stackTraceTitle">Controller:</b>
        <pre class="stackTrace">Action: {{get_class($controller)}}-><b>{{$controller->actionMethod}}</b>( ... )
Router args: %{{ print_r($controller->routeArgs) }}</pre>
    {/if}
    {if $stack && $exception}
        <b class="stackTraceTitle">Stack Trace:</b>
        <pre class="stackTrace">{{$exception -> getTraceAsString()}}</pre>
    {/if}
    {if $debug_info}
        <b class="stackTraceTitle">Debug Info:</b>
        <pre class="stackTrace">time: <b>{{round($debug_info['time'])}}</b> ml.sec
memory: <b>{{round($debug_info['memory'] / 1024)}}</b> kb
        </pre>
    {/if}
{else}
<div class="error">
    <h1>Application Error</h1>
    <p id="detail">
        Please contact with administration.
    </p>
    <div id="source-code">
        <pre><span class="line"> </span><span class="code">Error ID = <b>{{$hash}}</b></span></pre>
    </div>
</div>
{/if}