<!DOCTYPE html>
<html>
<head>
    <title>IDE: {get 'title'}</title>
    <meta charset="UTF-8">

    <script type="text/javascript">
        ROOT        = "{{path 'IDE.index'}}";
        ASSETS_PATH = "{{asset null}}";
    </script>

    {html.asset 'css/main.css'}
    {html.asset 'js/async.js'}
    {html.asset 'js/head.min.js'}
    {html.asset 'js/jquery-1.9.1.min.js'}
    {html.asset 'js/jquery-migrate-1.1.1.min.js'}

    {if IS_DEV}
        {html.asset 'js/ext-all-debug-w-comments.js'}
    {else}
        {html.asset 'js/ext-all.js'}
    {/if}

    {html.asset 'css/ext-all.css'}
    {html.asset 'js/plugin.js'}
    {html.asset 'js/ide.js'}
</head>
<body>
    {doLayout}
</body>
</html>