<div id="social">
<a href="https://travis-ci.org/dim-s/regenix"><img src="https://travis-ci.org/dim-s/regenix.png?branch=dev"
             alt="build: status" style="vertical-align: middle; margin-top: -3px;" /></a>

    &#160;&#160;&#160;

<iframe style="vertical-align: middle" src="http://ghbtns.com/github-btn.html?user=dim-s&repo=regenix&type=fork&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="90" height="22"></iframe>

<div style="vertical-align: middle; display: inline-block">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="regenixnews">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}
}(document, 'script', 'twitter-wjs');</script>
</div>
</div>
